@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Moonrocks&display=swap');

.Cabecalho  {
    display: flex;
    align-items: center;
    width: 100vw;
    border-bottom: 1px solid gray;
}

.Cabecalho > h2 {
    background: black;
    font-size: large;
    font-size: medium;
    margin: 0px;
    padding: 15px;
}

.Cabecalho > ul > li {
    background: black;
    font-size: large;
    font-size: medium;
    margin: 0px;
    padding: 15px;
}

.Cabecalho > span {
    display: flex;
    width: 100vw;
    /* border-bottom: 1px solid gray; */
    padding: 10px;
}

.color_Agenda {
    color: #FD377E;
    font-size: large;
}

.color_Kenzie {
    color:white;
    font-size: large;
}

.userInfo {
    display: flex;
    width: 100vw;
    border-bottom: 1px solid gray;
    justify-content: space-between;
}

.userInfo > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    margin: 0px;
    padding: 15px;
}

.userInfo > h2 {
    font-size: medium;
    font-size: medium;
    margin: 0px;
    padding: 15px;
}

.userInfo > ul >li {
    width: 285px;
    height: 15px;
    background: black;
    font-size: small;
    margin-top: 0px;
}

.mainPage { 
    display: flex;
    justify-content: space-around;

}

h2{
    font-family: "Rubik Moonrocks",sans-serif;
    font-size: xx-large;
    color: #FD377E;
}

button {
    width: 100px;
    height: 24px;
    margin: 0 auto;
    /* margin-top: 35px; */
    /* margin-top: 20px; */
    margin-bottom: 5px;
    background: #212529;
    color:#FFFFFF;
    border: none;
    box-shadow: 2px 1px #FD377E;
    margin: 15px;
}

ul > li {
    font-family: "Rubik Moonrocks",sans-serif;
    font-size: xx-large;
    color: #FD377E;
}